h1 {
  color: black;
  background: blue;
  margin-top: 0;
}
div.post {
  border-radius: 10px;
  color: black;
  box-shadow: 0 2px 3px rgba(0,0,0, 0.25);
  background: white;
  margin-top: 15px;
  display: flex;
}

div.post:first-child {
  margin-top: 0;
}

div.post div img {
  width: 50px;
  height: 50px;
}

div div.author {
  display: flex;
  flex-direction: column;
}